<div class="row checkoutStep js-checkoutStep">
  <div class="col-lg-8">
    <div class="border-top border-secondary border-2 mb-5 mb-md-7">
      <ul class="row list-unstyled pt-2 js-steps">
        <li data-step="1" class="col-3 currentStep">確認訂單</li>
        <li data-step="2" class="col-3 noCompletedStep">填寫訂購資訊</li>
        <li data-step="3" class="col-3 noCompletedStep">填寫付款資訊</li>
        <li data-step="4" class="col-3 noCompletedStep">完成訂購</li>
      </ul>
    </div>
  </div>
</div>