<footer>
  <section class="mb-6 mb-md-13">
    <div class="container">
      <h2 class="fw-bold mb-2 mb-md-6">猜你也喜歡...</h2>
      <div class="overflow-hidden">
        <div class="row">
          <div class="offset-md-1">
            <div class="swiper-container mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a class="btn-hover" href="javascript:;">
                    <div class="card">
                      <img class="mb-2" src="https://i.imgur.com/AZXfa97.jpg" class="card-img-top" alt="展覽圖片">
                      <div class="card-body">
                        <h5 class="card-title text-dark text-start fw-bold mb-1">No.22 線上設計展</h5>
                        <p class="card-text h5 text-dark text-start roboto">$350</p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a class="btn-hover" href="javascript:;">
                    <div class="card">
                      <img class="mb-2" src="https://i.imgur.com/QXthSn0.jpg" class="card-img-top" alt="展覽圖片">
                      <div class="card-body">
                        <h5 class="card-title text-dark text-start fw-bold mb-1">No.22 線上設計展</h5>
                        <p class="card-text h5 text-dark text-start roboto">$350</p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a class="btn-hover" href="javascript:;">
                    <div class="card">
                      <img class="mb-2" src="https://i.imgur.com/cvhLMtS.jpg" class="card-img-top" alt="展覽圖片">
                      <div class="card-body">
                        <h5 class="card-title text-dark text-start fw-bold mb-1">No.22 線上設計展</h5>
                        <p class="card-text h5 text-dark text-start roboto">$350</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="subscriptionArea">
    <div class="container">
      <h2 class="fw-bold text-white mb-3">想收到最新消息嗎？<br>快訂閱我們！</h2>
      <div class="subscription">
        <div class="input-group">
          <input class="form-control form-control-lg h6" type="text" name="email" id="email" placeholder="輸入您的電子信箱">
          <button type="button" class="btn btn-secondary h6">訂閱</button>
        </div>
      </div>
    </div>
  </section>
  <div class="footer container py-4 py-md-7">
    <div class="d-flex justify-content-between">
      <div class="d-md-flex align-items-end">
        <h2 class="h4 me-4">EXHIBINECTION</h2>
        <p>© 2020. All Rights Reserved.</p>
      </div>
      <ul class="sign d-none d-md-flex list-unstyled">
        <li><a class="text-gray me-6" href="javascript:;">Sign in</a></li>
        <li><a class="text-gray" href="javascript:;">Sign up</a></li>
      </ul>
    </div>
  </div>
</footer>