<nav class="topBar js-topBar">
  <div class="container">
    <div class="row justify-content-end align-items-end">
      <div class="col-8 col-md-4">
        <h1 class="text-center text-primary"><a href="index.html">EXHIBINECTION</a></h1>
      </div>
      <div class="col-2 col-md-4 d-flex  justify-content-end align-items-end">
        <ul class="sign d-none d-md-flex list-unstyled">
          <li><a class="text-gray px-2 px-lg-4" href="javascript:;">Sign in</a></li>
          <li><a class="text-gray px-2 px-lg-4" href="javascript:;">Sign up</a></li>
        </ul>
        <a class="cartBtn ms-4 position-relative" href="javascript:;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <span class="material-icons d-block text-dark">
            confirmation_number
          </span>
          <span class="cartNum">3</span>
        </a>
      </div>
    </div>
  </div>
</nav>