.checkoutStep {
  li {
    position: relative;
    color: $dark;
    text-align: center;
    font-weight: 300;
    @include pad {
      font-size: 14px;
    }
    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
    &::before {
      content: "";
      position: absolute;
      right: calc(50% - 4px);
      top: -13px;
      width: 8px;
      height: 8px;
      background: $secondary;
      border-radius: 50%;
    }
  }
  .currentStep {
    font-weight: 500;
  }
  .noCompletedStep {
    &::before {
      background: $white;
      border: 1px solid $secondary;
    }
  }
}