.subscriptionArea {
  padding: 36px 0;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: flex-end;
  .subscription {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 350px;
    }
    button {
      width: 136px;
    }
  }
}