.checkout {
  min-height: calc(100vh - 82px - 62px - 64px);
  @include pad {
    min-height: calc(100vh - 82px - 58.8px - 64px);
  }
  @include mobile {
    min-height: calc(100vh - 62px - 50.8px - 60px);
  }
  .pictureArea {
    height: 84px;
    overflow: hidden;
    img {
      margin-top: -5%;
    }
  }
  form {
    @include pad {
      margin-bottom: 54px;
    }
  }
}
.orderComplete {
  padding-top: 78px;
  padding-bottom: 83px;
  min-height: calc(100vh - 82px - 64px);
  @include mobile {
    min-height: calc(100vh - 62px - 60px);
  }
  .icon {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
}