.checkout {
  min-height: calc(100vh - 62px - 50.8px - 60px);
  @include media-breakpoint-up(md) {
    min-height: calc(100vh - 82px - 62px - 64px);
  }
  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 82px - 62px - 64px);
  }
  .pictureArea {
    height: 84px;
    overflow: hidden;
    img {
      margin-top: -5%;
    }
  }
  form {
    margin-bottom: 54px;
    @include media-breakpoint-up(lg) {
    margin-bottom: 0;
    }
  }
}
.orderComplete {
  padding-top: 22px;
  @include media-breakpoint-up(md) {
    padding-top: 42px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 82px;
  }
  .icon {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
}