.design {
  .card {
    padding-top: 80px;
    padding-bottom: 52px;
    @include pad {
      padding-top: 44px;
      padding-bottom: 44px;
    }
  }
  h2 {
    font-size: 36px;
    @include pad {
      font-size: 28px;
    }
  }
}