.productInfo {
  padding-top: 44px;
  padding-bottom: 40px;
  @include media-breakpoint-up(lg) {
    padding-top: 80px;
  }
  .pictureArea {
    background-image: url(https://i.imgur.com/c58uaQf.jpg);
    background-size: cover;
    background-position: center;
    height: 256px;
  }
  .qtyArea {
    border-right: none;
    padding-top: 40px;
    @include media-breakpoint-up(md) {
      padding-top: 88px;
      border-right: 1px solid $gray;
    }
  }
  .qtyBtn {
    padding: 7.5px;
  }
  .ticketTypeArea {
    padding-top: 40px;
    @include media-breakpoint-up(md) {
      padding-top: 88px;
    }
  }
  .ticketTypeBtn {
    display: block;
    width: 65px;
    text-align: center;
    @include media-breakpoint-up(md) {
      width: 50px;
    }
    @include media-breakpoint-up(lg) {
      width: 65px;
    }
    &:hover {
      border-bottom: 1px solid $secondary;
    }
    &.active {
      border-bottom: 1px solid $secondary;
    }
  }
  .btnArea {
    margin-top: 42px;
  }
}
.celebration {
  .picture-1 {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/max-van-den-oetelaar-IMYe9uYN27E-unsplash.jpg);
    background-size: cover;
    height: 400px;
  }
  .picture-2 {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/ricardo-gomez-angel-j5gCOKZdm6I-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 559px;
  }
}