body {
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
a, button {
  background: none;
  border: none;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, span, p, ul {
  margin-bottom: 0;
  line-height: 1.5;
}