.container {
  padding-left: 15px;
  padding-right: 15px;
}
.container-0 {
  padding-left: 0;
  padding-right: 0;
}
.row {
  &:not(.g-0):not(.gx-0) {
    --bs-gutter-x: 15px;
  }
  @include media-breakpoint-up(md) {
    &:not(.g-0):not(.gx-0) {
      --bs-gutter-x: 30px;
    }
  }
}